{% extends 'official/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid page-body-wrapper">

  {% include 'official/partials/sidebar.html' %}
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">

            <div class="col-12 col-xl 6 mb-4 mb-xl-0">
              <h1 class="title-size" id="branchDeatilname"> <span class="font-weight-bold" ></span>
                <span class="date-time"><span class="time"></span> </span>
              </h1>
            </div>

            <div onclick="showDropdown()" class="text-right" style="padding-top: 2rem;
            padding-right: 2rem;">Search
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>

          </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-3 col-sm-12  col-12 mt-1 mt-sm-2">
              <div class="quotation-box">
                <div class="text-center">
                  <h5 class="qt-title">Quotation</h5>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Total</p>
                  <span class="day Single" id="totalQuotations">0</span>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Approved</p>
                  <span class="day Single" id="approvedQuotations">0</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12  col-12 mt-1 mt-sm-2">
              <div class="expense-box">
                <div class="text-center">
                  <h5 class="qt-title">Income</h5>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Total</p>
                  <span class="day Single" id="totalIncome">0</span>

                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Last 30 days</p>
                  <span class="day Single" id="totalIncomeLastMonth">0</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12  col-12 mt-1 mt-sm-2">
              <div class="income-box">
                <div class="text-center">
                  <h5 class="qt-title">Expense</h5>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Total</p>
                  <span class="day Single" id="totalExpense">0</span>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Last 30 days</p>
                  <span class="day Single" id="totalExpenseLastMonth">0</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12  col-12 mt-1 mt-sm-2">
              <div class="png-amt-box">
                <div class="text-center">
                  <h5 class="qt-title">Pending Amount</h5>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Total</p>
                  <span class="day Single" id="pendingAmount">0</span>
                  <span class="underline mx-auto d-block"></span>
                  <p class="month">Last 30 days</p>
                  <span class="day Single" id="pendingAmountLastMonth">0</span>
                  </div>
              </div>
            </div>
            <div class="col-sm-6"></div>
          </div>


          <div class="">
            <div class="table-box ">
              <table id="progressTable"
                class="table table-striped table-borderless shadow-lg p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>open</th>
                    <th>onprocess</th>
                    <th>pending</th>
                    <th>completed</th>
                    <th>partiallycompleted</th>
                    <th>delivered</th>
                  </tr>

                </thead>
                <tbody>


                </tbody>

              </table>
            </div>
            <div class="table-box1 ">
              <table id="salesManTable"
                class="table table-striped table-borderless shadow-lg p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th>Salesman</th>
                    <th>Total Quotations</th>
                    <th>Approved</th>
                    <th>Income</th>
                    <th>Expense</th>
                    <th>Pending Amount</th>
                    <th>Total sale</th>
                  </tr>
                </thead>
                <tbody>


                </tbody>

              </table>
            </div>
          </div>



        </div>


      </div>
    </div>





  </div>



</div>

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span id=""></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i
            class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <form id="filterForm">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6 select-box-pad" id="bankDiv">
              <label for="" class="label-text-3">Start date:</label>
              <input type="date" name="startdate" id="startDate" class="form-control form-input">
            </div>
            <div class="col-lg-6 select-box-pad" id="bankDiv">
              <label for="" class="label-text-3">End date:</label>
              <input type="date" name="enddate" id="endDate" class="form-control form-input">
            </div>
          </div>
          <div class="mdl-ftr">
            <button type="submit" id="" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
</div>

</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'official/js/helper.js' %}"></script>
<script src="{% static 'official/js/branch-details.js' %}"></script>
{% endblock %}