{% extends 'official/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid page-body-wrapper">

    <!-- partial:partials/_sidebar.html -->
    {% include 'official/partials/sidebar.html' %}


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="bg-design">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Factory </h4>

                        <form id="factoryForm" class="forms-sample row">
                            {% csrf_token %}
                            <input type="number" id="editId" hidden>
                            <div class="form-group col-lg-6 col-12">
                                <label for="exampleInputName1">Place</label>
                                <input type="text" name="place" class="form-control form-input">
                            </div>

                            <div class="form-group col-lg-6 col-12">
                                <label for="exampleInputName1">Phone Number</label>
                                <input type="tel" name="contactno" class="form-control form-input">
                            </div>
                            <div class="form-group col-lg-8 col-12">
                                <label for="exampleTextarea1">Address</label>
                                <textarea class="form-control form-input" name="address" rows="4"></textarea>
                            </div>

                            <div class=" col-12 text-center ">

                                <button id="btnSubmit" type="submit"
                                    class="btn btn-success btn-color-green mr-2">Add</button>
                            </div>

                        </form>



                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="factoryTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Place</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Add LoginDetails</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'official/js/helper.js' %}"></script>
<script src="{% static 'official/js/factory.js' %}"></script>
{% endblock %}