{% load static %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="/official/"><img src="{% static 'web/images/logo_2.svg' %}" class="mr-2"
          alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="/official/"><img src="{% static 'web/images/logo.svg' %}" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <!-- <span class="icon-menu" style="color: #fff;"></span> -->
      </button>

      <ul class="navbar-nav navbar-nav-right">
        <!-- <li class="nav-item nav-profile dropdown show">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <i class="fa-solid fa-bell navicons-bg-cl " alt="profile"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i>
              Settings
            </a>
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
            data-toggle="dropdown"> -->
            
            <!-- <span class="count"></span> -->
          <!-- </a> -->

        </li> 

        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#" id="logout">
            <i class="icofont-logout"></i>
            <!-- <i class="fa-solid fa-gear navicons-bg-cl"></i> -->
          </a>
        </li>
     
        <li class="nav-item dropdown ">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
            data-toggle="dropdown">
            <i class="fa-solid fa-user mx-0 navicons-bg-cl"></i> <br> 
           
            

            <!-- <span class="count">ew5w4we</span> -->

          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
           
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>

        </li>

        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
          <p class="user-detatils" id="branchName">Admin</p></a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i>
              Settings
            </a>
            <a class="dropdown-item" title="logout">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>



      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>