
{% load static %}
<div class="container-fluid page-body-wrapper">


    <!-- partial:partials/_sidebar.html -->

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-10">
                    <div class="print-page">
                        <div class="banner-color">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                    <img src="{% static 'web/images/Frame.png' %}" alt="" class="image-style">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3 heading-quototation">
                                    <div>
                                        <h4 class="heading-style">Quototation</h4>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6 contact-details">
                                    <div class="banner-contact-style">
                                        <label>Phoneww : +91 9048000099 , +91 7558000099</label>
                                        <label>Calicut . kannur . malapuram .Gujarath. </label>
                                        <label>Email : ceo@teakland.in</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="under-banner-section">
                            <div class="row">
                                <div class="col-lg-5 col-6 ">
                                    <div class="teakland-seection-padding">
                                        <h6 class="teakland-head">TEAK LAND</h6>
                                        <label class="label-font-size">FAROOK COLLAGE , RAMANATUKARA,</label>
                                        <label class="label-font-size">CALICUT 673632</label><br>
                                        <label class="label-font-size">Phone : +91 9048000099</label><br>
                                        <label class="label-font-size">Fax : +917558000099</label>
                                        <label class="label-font-size">Email : project@teakland.in</label>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-6 text-padding" >
                                    <p class="label-font-size">DATE : 29/01/2022</p>
                                    <p class="label-font-size">User : Kochi </p>
                                </div>


                                <div class="TO-section">
                                    <label class="paragraph-font-size">TO</label> <br>
                                    <label class="paragraph-font-size"> VIBIN</label> <br>
                                    <label class="paragraph-font-size"> CHEVAYUR</label> <br>
                                    <label class="paragraph-font-size"> PH:-9539017774</label> <br>
                                </div>

                                <div class="container">
                                    <div class="salesman-section-padding">
                                        <div class="row salesman-style">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                <div>
                                                    <label for="" class="salesman-padding">Salesman</label>
                                                    <label for="" class="name-padding">Swathi Suresh M K</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 gst-column-align">
                                                <div>
                                                    <label for="" class="gst-padding">GST</label>
                                                    <label for="" class="gst-value-padding">70RTGHJIO88M66</label>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </div>
                                <!-- ============= -->
                                <!-- <div>
                                    <table class=" salesman-table">
                                        <thead class="table-head-style">
                                            <tr>
                                                <th>Products</th>
                                                <th>Type</th>
                                                <th>Height</th>
                                                <th>Width</th>
                                                <th>Qty</th>
                                                <th>Quibic</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>6 frame name</td>
                                                <td>Teak</td>
                                                <td>56</td>
                                                <td>43</td>
                                                <td>1</td>
                                                <td>56</td>
                                                <td>10000</td>
                                            </tr>
                                            <tr>
                                                <td>6 frame name</td>
                                                <td>Teak</td>
                                                <td>56</td>
                                                <td>43</td>
                                                <td>1</td>
                                                <td>56</td>
                                                <td>10000</td>
                                            </tr>
                                            <tr>
                                                <td>6 frame name</td>
                                                <td>Teak</td>
                                                <td>56</td>
                                                <td>43</td>
                                                <td>1</td>
                                                <td>56</td>
                                                <td>10000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> -->


                                <!-- <div class="table-responsive w-100 salesman-table">
                                    <table class="table">
                                      <thead>
                                        <tr class="bg-dark text-white">
                                            <th>Products</th>
                                            <th>Type</th>
                                            <th>Height</th>
                                            <th>Width</th>
                                            <th>Qty</th>
                                            <th>Quibic</th>
                                            <th>Amount</th>
                                            
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr class="text-right">
                                          <td class="text-left">1</td>
                                          <td class="text-left">Brochure Design</td>
                                          <td>2</td>
                                          <td>$20</td>
                                          <td>$40</td>
                                        </tr>
                                        <tr class="text-right">
                                          <td class="text-left">2</td>
                                          <td class="text-left">Web Design Packages(Template) - Basic</td>
                                          <td>05</td>
                                          <td>$25</td>
                                          <td>$125</td>
                                        </tr>
                                        <tr class="text-right">
                                          <td class="text-left">3</td>
                                          <td class="text-left">Print Ad - Basic - Color</td>
                                          <td>08</td>
                                          <td>$500</td>
                                          <td>$4000</td>
                                        </tr>
                                        <tr class="text-right">
                                          <td class="text-left">4</td>
                                          <td class="text-left">Down Coat</td>
                                          <td>1</td>
                                          <td>$5</td>
                                          <td>$5</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div> -->




                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">

                                            <table class="custom-table table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Products</th>
                                                        <th>Type</th>
                                                        <th>Height</th>
                                                        <th>Width</th>
                                                        <th>Qty</th>
                                                        <th>Quibic</th>
                                                        <th>Amount</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                        <td>2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>



                                <div class="total-padding">
                                    <label for="" class="total"> TOTAL</label>
                                    <label for="" class="total-value">38,738</label>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col-lg-8 col-md-7 col-sm-6 col-6">

                                        <div class="mb-3 pl-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Remark</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                rows="6"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-5 col-6 ">
                                        <label for="" class="tax-desc">18% tax is applicable for all Invoice
                                        </label>
                                    </div>

                                </div>
                                <div class="footer-pad">
                                    <div class="footer-section"></div>

                                </div>

                            </div>

                        </div>
                    </div>



                    <div class="col-lg-2 py-6">
                        <div class="back-button-style ">
                            <a href="" class="back-button-color"><i class="icofont-long-arrow-left"></i>
                                Back</a>

                        </div>
                        <div class="pt-3">

                            <a href="" class="back-button-color download-file" download=""> Download</a> <i
                                class="icofont-file-pdf"></i>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>

</div>




<script src="{% static 'user/js/helper.js' %}"></script>
<script src="{% static 'user/js/print-qoutations.js' %}"></script>

